.footer {
    box-sizing: border-box;
    width: 100%;
    height: 75px;
    padding: 0 10px;
}

.footer__content {
    box-sizing: border-box;
    height: 100%;
    margin: 0 10px;
    border-top: #6e6e6e solid 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer__copyright {
    color: #6e6e6e;
}

.footer__link-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.footer__link {
    text-decoration: none;
    color: #fff;
    opacity: .5;
    padding-left: 20px;
}

.footer__link:hover {
    text-decoration: underline;
    opacity: 1;
}

@media screen and (max-width: 750px ){
    .footer {
        box-sizing: border-box;
        height: auto;
        padding: 0;
    }

    .footer__content {
        box-sizing: border-box;
        height: 100%;
        margin: 0 5px;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .footer__link-container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        list-style: none;
        padding: 0;
    }

    .footer__link {
        display: block;
        box-sizing: border-box;
        padding: 10px 0;
    }
}