.searchform {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.searchform__container {
    position: relative;
    margin: 0 auto;
    width: 100%;
    display: grid;
    grid-template-columns: 570px 120px;
    grid-template-rows: 25px min-content;

}

.searchform__reset-btn {
    position: absolute;
    left: 5px;
    top: 5px;
    height: 12px;
    width: 12px;
    background-image: url(../../images/closebutton.png);
    background-color: #6e6e6e;
    border-radius: 50px;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

.searchform__reset-btn_type_closed {
    display: none;
}

.searchform__input {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 25px;
    background-color: #000;
    color: #fff;
    border: none;
    border-bottom: #6e6e6e solid 2px;
}

.searchform__submit-btn {
    border: #fff solid 2px;
    background-color: rgb(27, 135, 217);
    border-radius: 5px;
    color: #fff;
    margin-left: 10px;
}

.searchform__submit-btn_type_disabled {
    background-color: #000;
    color: #6e6e6e;
    border: #6e6e6e;
    border: #6e6e6e solid 1px;
}

.searchform__submit-btn:hover {
    cursor: pointer;
    opacity: .7;
}

.searchform__error {
    grid-row: 2;
    grid-column: 1;
    font-weight: 300;
    height: 11px;
    font-size: 9px;
    justify-self: center;
    padding: 5px 0 10px;
    color: #fF64B4;
}

.searchform__results-container {
    box-sizing: border-box;
    padding: 25px 0 45px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.serchform__server-error {
    font-weight: 300;
    font-size: 12px;
    text-align: center;
    color: #fF64B4;
}

.serchform__request-box {
    display: block;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 700;
}

.searchform__request {
    font-size: 18px;
    font-weight: 700;
    color: #32CD32;
}