.inn-page {
    box-sizing: border-box;
    max-width: 500px;
    height: 100%;
    margin: 0 auto;

}

.inn-page__content {
    height: 100%;
    padding: 100px 0 100px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px auto 100px;
    justify-items: center;
}

.inn-page__title {
    padding-bottom: 25px;
    font-weight: 700;
    align-self: center;
}

.inn-page__result {
    align-self: center;
    justify-self: center;
    font-weight: 400;
    font-size: 24px;
}