/*импорт шрифтов и сброса стилей*/
@import url(./vendors/normalize.css);
@import url(./vendors/fonts/fonts.css);

/*импорт стилей компонентов App, Header, Footer*/
@import url(./companents/App/App.css);

/*импорт компанента INN*/

/*импорт компонента Form*/ 


body {
  margin: 0;
  font-family: 'Proxima Nova', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Proxima Nova', 'Helvetica Neue', sans-serif;
}
